<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Commerce365\Core\Service\Customer\ParentResolveCustomerSession">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Framework\Session\Generic\Proxy</argument>
        </arguments>
    </type>
    <type name="Commerce365\Core\Service\PrepareSalesRequestQuery">
        <arguments>
            <argument name="customerSession" xsi:type="object">
                Commerce365\Core\Service\Customer\ParentResolveCustomerSession\Proxy
            </argument>
        </arguments>
    </type>
    <virtualType name="Commerce365CoreModuleVersion" type="Commerce365\Core\Service\Module\Version">
        <arguments>
            <argument name="packageName" xsi:type="string">commerce365/module-core</argument>
        </arguments>
    </virtualType>
    <virtualType name="Commerce365CoreModuleVersionBlock" type="Commerce365\Core\Block\Adminhtml\Version">
        <arguments>
            <argument name="version" xsi:type="object">Commerce365CoreModuleVersion</argument>
        </arguments>
    </virtualType>
</config>
