<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Commerce365Config" translate="label" sortOrder="700">
            <label>Commerce 365</label>
        </tab>

        <section id="commerce365config_general" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General</label>
            <tab>Commerce365Config</tab>
            <resource>Commerce365_Core::config</resource>
            <group id="hub" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Commerce 365 API</label>
                <field id="hub_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Base URL</label>
                </field>
                <field id="hub_appid" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App ID</label>
                </field>
                <field id="hub_secretkey" translate="label" type="password" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                </field>
                <field id="check_connection" translate="label comment" type="button" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Commerce365\Core\Block\Adminhtml\System\Config\Buttons\CheckConnection</frontend_model>
                    <label><![CDATA[Test]]></label>
                    <comment><![CDATA[Use this button to check the URL and credentials you have entered. Do not forget to save the configuration after a successful testing the connection.]]></comment>
                </field>
            </group>
            <group id="sales_documents" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Sales Documents</label>
                <field id="b2b_offlineorders" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Show Non-Web Orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="b2b_offlineinvoices" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Show Non-Web Invoices</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="b2b_offlineshipments" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Show Non-Web Shipments</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="configurable_image" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configurable Product Images</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Parent Images on Child Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="replace_existing" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Replace Child Images if Exist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to No, child product images will be used when available</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="version" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Version</label>
                <group id="coreversion" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <frontend_model>Commerce365CoreModuleVersionBlock</frontend_model>
                    <label><![CDATA[Commerce365 Core Version]]></label>
                </group>
            </group>
        </section>
        <section id="commerce365config_advanced" translate="label" sortOrder="510" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Advanced</label>
            <tab>Commerce365Config</tab>
            <resource>Commerce365_Core::config</resource>
            <group id="bc_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Business Central Web Services - Advanced Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Direct BC Web Service Integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable this functionality only in combination with the corresponding Business Central and Azure authentication configurations.]]></comment>
                </field>
                <field id="auth_type" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authentication Type</label>
                    <source_model>Commerce365\Core\Model\Config\Source\AuthType</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="username" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="auth_type">base</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="password" translate="label" type="password" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="auth_type">base</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tenant_id" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Microsoft Entra Tenant ID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="auth_type">oauth</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="environment" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="endpoint" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Webservice URL</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>OAuth Client Id</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="auth_type">oauth</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="client_secret" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>OAuth Client Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="auth_type">oauth</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="company" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Name</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="check_connection" translate="label comment" type="button" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Commerce365\Core\Block\Adminhtml\System\Config\Buttons\BusinessCentral\OauthCheckConnection</frontend_model>
                    <label><![CDATA[Test]]></label>
                    <comment><![CDATA[Use this button to check the web service URL and credentials you have entered. Do not forget to save the configuration before testing the connection.]]></comment>
                    <depends>
                        <field id="auth_type">oauth</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
