<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Commerce365Config" translate="label" sortOrder="700">
            <label>Commerce 365</label>
        </tab>

        <section id="commerce365config_general" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General</label>
            <tab>Commerce365Config</tab>
            <resource>Commerce365_Core::config</resource>
            <group id="hub" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Commerce 365 Hub</label>
                <field id="hub_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Base URL</label>
                </field>
                <field id="hub_appid" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>App ID</label>
                </field>
                <field id="hub_secretkey" translate="label" type="password" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret Key</label>
                </field>
                <field id="check_connection" translate="label comment" type="button" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Commerce365\Core\Block\Adminhtml\System\Config\Buttons\CheckConnection</frontend_model>
                    <label><![CDATA[Test]]></label>
                    <comment><![CDATA[Use this button to check the URL and credentials you have entered. Do not forget to save the configuration after a successful testing the connection.]]></comment>
                </field>
            </group>
            <group id="sales_documents" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Sales Documents</label>
                <field id="b2b_offlineorders" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Show Non-Web Orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="b2b_offlineinvoices" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Show Non-Web Invoices</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="b2b_offlineshipments" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Show Non-Web Shipments</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="version" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Version</label>
                <group id="coreversion" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <frontend_model>Commerce365CoreModuleVersionBlock</frontend_model>
                    <label><![CDATA[Commerce365 Core Version]]></label>
                </group>
            </group>
        </section>
    </system>
</config>
